.flexed
	display: flex
	justify-content: center
	align-items: center

.mangas__cards-container
	padding-top: 15vh
	width: 80%

	@media (max-width: 1300px)
		width: 90vw
	@media (max-width: 1150px)
		width: 95vw

	margin: 0 auto
