
#home
  height: 100vh
  position: relative

  .last-manga__container
    position: fixed
    height: 100vh
    display: flex
    align-items: center
    padding-left: 4rem
    .last-manga
      display: flex
      flex-direction: column
      justify-content: center
      // background: rgba(0,0,0,0.5)
      width: fit-content
      padding-right: 5rem
      .last-manga__japanese-title
        color: #000
        font-size: 1.5rem
        font-weight: 700
        // margin-bottom: 1rem
      .last-manga__title
        color: #000
        font-size: 3rem
        font-weight: 700
      // .last-manga__progress
      //   color: white
      //   font-size: 1.5rem
      //   font-weight: 700
      //   margin-top: 1rem
      .last-manga__progressbar-container
        width: 90%
        margin: auto

      .last-manga__button-container
        width: fit-content
        .last-manga__button
          margin-top : 2rem
          margin-left: 0
