.card__text_container
	
	.card__text
		display: block
		text-align: left
		font-size: 1rem
	.card__japanese-title
		color: #000
		font-size: 0.8rem
		font-weight: 300
		// margin-bottom: 1rem
	.card__title
		color: #000
		font-size: 1.3rem
		font-weight: 800
		padding-bottom: 0.5rem
	.card__manga_progress
		padding :  0 0 10px  0

